:root{
    --bg-top-color: radial-gradient(89.44% 101.49% at 0% 0%, #222326 0%, #08090a 100%);
    --bg-bottom-color: linear-gradient(180deg, #08090a, #222326);
    --bg-middle-color: #08090a;
    --navbar-bg: #FFFFFF08;
    --navbar-border: rgb(58, 58, 58);
    --heading-color: #F4F5F8;
    --button-color: #111111;
    --button-bg: #EFEFEF;
    --input-bg: #181818;
    --bar-bg: #FFFFFF08;
    --svg-color: #9B9B9D;
    --svg-color-arrow-theme: white;
    --svg-color-arrow-theme-bg: #FFFFFF08;
    --svg-arrow-theme-hover: #08090a;
    --footer-bg: #08090a;
    --bar-button-color-active: black;
    --bar-button-bg-active: #FFFFFF;

}

:root.lightmode {
    --bg-top-color: radial-gradient(89.44% 101.49% at 0% 0%, #fff 0%, #f4f5f8 100%);
    --bg-bottom-color: linear-gradient(180deg, #f4f5f8, #fff);
    --bg-middle-color: #F4F5F8;
    --navbar-bg: #FFFFFF99;
    --navbar-border: rgb(224, 212, 212);
    --heading-color: #222326;
    --button-color: #FCFCFC;
    --button-bg: #202020;
    --input-bg: #FFFFFF99;
    --bar-bg: #FFFFFF99;
    --svg-color: #9B9B9D;
    --svg-color-arrow-theme: black;
    --svg-color-arrow-theme-bg: #FFFFFF99;
    --svg-arrow-theme-hover: #FFFFFF99;
    --footer-bg: #E5E7EB;
    --bar-button-color-active: #FFFFFF;
    --bar-button-bg-active: #222326;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    height: 550px;
    background: var(--bg-top-color);
    color: white;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    animation: slideDown 0.5s ease-in forwards;
}



.navbar {
    height: 58px;
    background: transparent;
    justify-content: center;
    /*margin-left: auto;
    margin-right: auto;*/
    /*padding: 0 24px;*/
    position: relative;
}


.nav-items {
    width: 93%;
    text-decoration: none;
    background-color: var(--navbar-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border: 1px solid var(--navbar-border);
    margin-top: 15px;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 12px;
    z-index: 1000;
    /*width: 96%;
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;*/
}

.top-logo-dark {
    width: 130px;
    height: 25px;
}

/*.top-logo-dark {
    width: 130px;
    height: 25px;
    display: none;
}

@media (prefers-color-scheme: light) {
    .top-logo-dark {
        display: none;
    }
    .top-logo-light {
        display: block;
        width: 130px;
        height: 25px;
    }
}*/

.nav-items button {
    width: 107px;
    height: 33px;
    padding: 0 12px;
    border-radius: 10px;
    margin: 0;
    font-size: 15px;
    border: 2px solid #EEEEEE;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--button-bg);
}

.btn-first a {
    text-decoration: none;
    color: var(--button-color);
}

.hero-1 {
    margin-top: 87px;
    height: 400px;
}

.hero-1 h1 {
    width: 750px;
    height: 120px;
    color: var(--heading-color);
    font-size: 80px;
    font-weight: 500;
    line-height: 1;
    margin-left: 24px;
}

.hero-1 p {
    width: 480px;
    height: 56px;
    color: #9B9B9D;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 24px;
}

.email{
    height: 150px;
    margin-top: 15px;
    display: flex;
}

.email input {
    width: 230px;
    height: 30px;
    border: 0.1px solid var(--navbar-border);
    color: var(--heading-color);
    background: var(--input-bg);
    padding: 4px 12px;
    margin-left: 24px;
    font-size: 15px;
    border-radius: 9px;
    text-decoration: none;
    cursor: text;
}

input placeholder {
    color: #9B9B9D;
}

input:focus {
    outline: 1px solid blue; 
}


.button-1 {
    width: 102px;
    height: 40px;
    color: #FFFFFF;
    background-color: rgb(21, 134, 134);
    padding: 0 12px;
    border-radius: 8px;
    margin-left: 10px;
    font-size: 14px;
    border: 2px solid rgb(21, 134, 134);
    font-weight: 500;
    cursor: pointer;
}

.button-1 a {
    text-decoration: none;
    color: #FFFFFF;
}

.button-2 {
    width: 125px;
    height: 40px;
    color: #FFFFFF;
    background-color: rgb(12, 175, 93);
    padding: 0 12px;
    border-radius: 8px;
    margin-left: 10px;
    font-size: 14px;
    border: 2px solid rgb(12, 175, 93);
    font-weight: 500;
    cursor: pointer;
}

.button-2 img {
    height: 30px;
    width: 30px;
    margin-left: -10px;
}

.ai {
    display: flex;
    align-items: center;
}

.hero-2 {
    /*background-color: black;*/
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 725px;
    height: 30px;
    padding: 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bar-bg);
    border-radius: 8px;
}

.bar button {
    width: 200px;
    height: 30px;
    font-size: 14.5px;
    color: #9B9B9D;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.bar button:hover {
    background-color: #FFFFFF08;
}

.bar button.active {
    color: var(--bar-button-color-active);
    background-color: var(--bar-button-bg-active);
}


/*.bar:hover p {
    background-color: gray;
}*/


.left-arrow {
    width: 32px;
    height: 32px;
    /*border: 1px solid white;*/
    border-radius: 50%;
    margin-right: 15px;
    background-color: var(--svg-color-arrow-theme-bg);
    cursor: pointer;
}

.left-arrow svg {
    margin-top: 8px;
    margin-left: 8px;
    color: var(--svg-color-arrow-theme);
}

.left-arrow:hover {
    background-color: var(--svg-arrow-theme-hover);
}

.right-arrow {
    width: 32px;
    height: 32px;
    /*border: 1px solid white; */
    border-radius: 50%;
    margin-left: 15px;
    background-color: var(--svg-color-arrow-theme-bg);
    cursor: pointer;
}

.right-arrow svg {
    margin-top: 8px;
    margin-left: 8px;
    color: var(--svg-color-arrow-theme);
}

.right-arrow:hover {
    background-color: var(--svg-arrow-theme-hover);
}

.topics {
    margin-right: 10px;
}

/*#reports:hover {
    background: #FFFFFF08;
}

#reports:active {
    color: black;
    background-color: #FFFFFF;
}

#report-writer {
    margin-right: 5px;
}

#report-writer:hover {
    background-color: #FFFFFF08;
}

#report-writer:active {
    color: black;
    background-color: #FFFFFF;
}

#scheduling {
    margin-left: 5px;
}

#scheduling:hover {
    background-color: #FFFFFF08;
}

#scheduling:active {
    color: black;
    background-color: #FFFFFF;
}

#booking:hover{
    background-color: #FFFFFF08;
}

#booking:active {
    color: black;
    background-color: #FFFFFF;
}

#contact:hover {
    background-color: #FFFFFF08;
}

#contact:active {
    color: black;
    background-color: #FFFFFF;
}

#marketing:hover {
    background-color: #FFFFFF08;
}

#marketing:active {
    color: black;
    background-color: #FFFFFF;
}*/

.image-container {
    background-color: var(--bg-middle-color);
    display: flex;
    justify-content: center;
}

.images {
    width: 1100px;
    height: 550px;
    border: 1px solid rgb(58, 58, 58);
    margin-top: 80px;
    border-radius: 10px;
    /*box-shadow: 0 3px 0 rgba(39, 39, 99, 0.5);*/
}

.images img {
    width: 1100px;
    height: 550px;
}

.hero-3 {
    width: 100%;
    height: 430px;
    background: var(--bg-bottom-color);
    display: flex;

}

.texts {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.texts h2 {
    width: 900px;
    color: var(--heading-color);
    font-size: 39px;
    font-weight: 460;
    line-height: 1.1;
    margin-left: 24px;
}

.texts button {
    width: 110px;
    height: 40px;
    color: #FFFFFF;
    background-color: rgb(21, 134, 134);
    padding: 0 12px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 230px;
    font-size: 14px;
    border: 2px solid rgb(21, 134, 134);
    font-weight: 500;
    cursor: pointer;
}

.btn-last a {
    text-decoration: none;
    color: #FFFFFF;
}

footer {
    background-color: var(--footer-bg);
}

.footer-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.footer-1 img {
    width: 130px;
    height: 25px;
    margin-left: 24px;
}

.theme {
    height: 40px;
    width: 40px;
    background-color: var(--svg-color-arrow-theme-bg);
    border: 2px solid #FFFFFF08;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.theme svg{
    margin-top: 1px;
    margin-right: 3px;
    color: var(--svg-color-arrow-theme);
}

.theme:hover {
    background-color: var(--svg-arrow-theme-hover);
}

.theme:focus {
    outline: blue;
}

#menuList {
    background-color: #222222;
    list-style: none;
    padding-top: 10px;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 5px;
    position: absolute;
    right: 2%;
    top: 2700%;
    transform: translateY(-90deg);
}

.hidden {
    display: none;
}

#menuList li {
    width: 108px;
    height: 30px;
    padding: 2px 8px;
    font-size: 14px;
    cursor: pointer;
}

#menuList svg {
    margin-right: 10px;
}

.footer-2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 24px;
}

.footer-2 p {
    color: #9B9B9D;
    font-size: 14px;
    margin-right: 15px;
}

.footer-2 li {
    color: #9B9B9D;
    font-size: 14px;
    margin-left: 10px;
}

.footer-3 {
    height: 100px;
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    cursor: pointer;
    margin-left: 24px;
}

.footer-3:hover a {
    color: white;

}

@media (min-width: 400px) and (max-width: 768px) {
    body {
        font-size: 18px;
        max-width: 100%;
    }

    .navbar {
        height: 30px;
        max-width: 100%;
        margin-left: 5px;
    }
    .nav-items {
        height: 38px;
        width: 350px;
        padding: 12px;
        margin-top: 15px;
        margin-left: 12px;
        margin-right: 12px;
        border-radius: 5px;
    }

    .nav-items img {
        width: 130px;
        height: 25px;
        margin-left: 5px;
    }

    .nav-items button {
        margin-top: 2px;
        margin-bottom: 2px;
        margin-right: 5px;
        height: 32px;
        width: 102px;
        font-size: 14px;
        border-radius: 10px;
        padding: 0 12px;
    }

    .hero-1 {
        margin-top: 60px;
        height: 300px;
        max-width: 100%;
        
    }

    .hero-1 h1 {
        width: 300px;
        height: 80px;
        font-size: 40px;
        font-weight: 400;
        margin-left: 4.5rem;
    }

    .hero-1 p {
        width: 363px;
        height: 72px;
        font-size: 20px;
        margin-left: 3rem;
    }

    .email {
        flex-direction: column;
        height: auto;
        max-width: 100%;
        padding: 0 12px;
    }

    .email input {
        height: 40px;
        width: 350px;
        font-size: 16px;
        margin-top: 30px;
        margin-left: 3px;
    }

    .button-1,
    .button-2 {
        width: 364px;
        height: 40px;
        font-size: 14px;
        margin-top: 5px;
    }

    .button-2 {
    padding-left: 9rem;
    }

    .button-2 img {
        height: 20px;
        width: 20px;
    }

    .hero-2 {
        padding: 12px;
        height: 80px;
        max-width: 100%;
    }

    .bar {
        width: 340px;
        height: 20px;
        margin-top: 150px;
        z-index: 1;
    }

    .bar button {
        font-size: 7px;
        height: 15px;
        border-radius: 5px;
    }

    .left-arrow,
    .right-arrow {
        display: none;
    }

    .image-container {
        max-width: 100%;
    }

    .images {
        margin-top: 250px;
        margin-left: 0px;
        width: 362px;
        height: 203px;
    }

    
    .images img {
        width: 362px;
        height: 203px;
    }

    .texts {
        margin-top: 60px;
        flex-direction: column;
        max-width: 100%;
        height: 300px;
        height: 3rem;
    }

    .texts h2 {
        width: 364px;
        height: 96px;
        font-size: 28px;
        margin-left: 3rem;
        margin-top: 50px;
    }

    .texts button {
        width: 110px;
        height: 50px;
        font-size: 14px;
        margin-left: 8.5rem;
        margin-top: 70px;
    }

    .footer-1 {
        padding-top: 0;
        margin-top: 0;
        height: 8rem;
        max-width: 100%;

    }

    .footer-1 img {
        margin-top: 60px;
        margin-left:5px;
        width: 130px;
        height: 25px;
    }

    .theme {
        margin-top: 3rem;
        height: 2rem;
        width: 2rem;
    }

    .footer-2 {
        margin-left: 12px;
        font-size: 3px;
    }

    .footer-2 li {
        margin-left: 1rem;
    }

    .footer-3 {
        margin-left: 12px;
        margin-top: 40px;
        gap: 1.5rem;
    }

    .footer-3 svg {
        height: 1rem;
        width: 1rem;
    }
}
